{% extends 'receptionist/templates/base.html' %}
{% load static %}
{% block content %}

<div class="page-wrapper">
<div class="content container-fluid">
<div class="page-header">
<div class="row align-items-center">
<div class="col">
<div class="mt-5">
<h4 class="card-title float-left mt-2">All Rooms</h4>
<a href="add-room.html" class="btn btn-primary float-right veiwbutton">Add Room</a>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-sm-12">
<div class="card card-table">

<div class="card-body booking_card">
<div class="table-responsive">
<table class="datatable table table-stripped table table-hover table-center mb-0">
    <thead>
        <tr>
            <th scope="col">Room Number</th>
            <th scope="col">Category</th>
            <th scope="col">Bed</th>
            <th scope="col">Capacity</th>
            <th scope="col">Price</th>
            <th scope="col">Room Image</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for i in rooms %}
            <tr>
                <td> {{i.room_number}} </td>
                <td> {{i.category}} </td>
                <td> {{i.bed}} </td>
                <td> {{i.capacity}} </td>
                <td> {{i.amount}} </td>
                <td> {{i.room_pic}} </td>
                <td> <button type="submit" class="theme-btn theme-btn-small" name="cancel">Cancel</button></td>
            </tr>

        {% endfor %}
    </tbody>

</table>
</div>
</div>
</div>
</div>
</div>
</div>
<div id="delete_asset" class="modal fade delete-modal" role="dialog">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-body text-center">
<img src="static/asserts/img/sent.png" alt="" width="50" height="46">
<h3 class="delete_class">Are you sure want to delete this Asset?</h3>
<div class="m-t-20"> <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
<button type="submit" class="btn btn-danger">Delete</button>
</div>
</div>
</div>
</div>
</div>
</div>

</div>




{% endblock content %}









 
