<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <title>JPEB-Hotel Dashboard</title>
        {% include 'receptionist/templates/head.html' %}
       
    </head>
    
    <body>
        {% include 'receptionist/templates/header.html' %}
        {% include 'receptionist/templates/sidenav.html' %}

        {% block content %}

        {% endblock content %}

        {% include 'receptionist/templates/footer.html' %}

        {% include 'receptionist/templates/scripts.html' %}

    </body>
</html>
        
     
    